[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.antigen-main"]
	path = home/.antigen-main
	url = https://github.com/zsh-users/antigen
