[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.antigen"]
	path = home/.antigen
	url = https://github.com/zsh-users/antigen
