[user]
	name = Moritz Bellach
	email = github@moritzbellach.de
[core]
	excludesfile = /home/flatline/.gitignore_global
[alias]
	s = status
	f = fetch
	a = add
	b = branch
	co = checkout
	cb = checkout -b
	d = diff
	l = log --oneline --graph --decorate --all
